body{
    font-family:'Roboto', 'sans-serif';
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
h4{
    margin-bottom: 3px;
}
:root{
    --couleur-primaire:#9356DC;
    --couleur-secondaire: #FF79DA;
    --couleur-tertiaire: #99E2D0;
}
/**header**/
.header{
    padding:0.25rem;
    position: relative;
}
.logo{
    font-family: 'Shrikhand', "cursive";
    margin: 0;
    text-align: center;
}
.menu_titre{
    font-family: 'Shrikhand', "cursive"; 
}
.fa-arrow-left{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:50%;
    width: 2rem;
    transform: translateY(-50%);
}
.photo{
    width: 100%;
    max-width: 100%;
    max-height: 32rem;
    object-fit: cover;
} 
/**menu**/
.menu{
    margin-top: -4rem;
    background-color: #f6f6f6;
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
    position: relative;
} 
.menu_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 2rem 0 1rem;
}
.menu_container{
    display: flex;
    flex-direction: column;
}  
.sousmenu{
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    animation: apparition 800ms 3500ms linear both;
}
.sousmenu_titre{
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 1rem;
}    
.sousmenu_titre::after{
    content: "";
    width: 2.5rem;
    height: 3px;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 1rem;
}


/**animation**/
.entrees{
    animation:apparition 800ms linear 500ms  both;
}
.plat{
    animation:apparition 800ms linear 1000ms  both;
}
.dessert{
    animation:apparition 800ms linear 1500ms  both;
}
/**card**/

.card{
    background-color: #fff;
    display: flex;
    
    border-radius: 0.75rem;
    padding-left: 0.5rem;
    margin: 1rem 0;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0.5rem #a7a7a7;
    animation: opacity 2000ms linear 1000ms  both;
    transform: translateY(0);
    max-width: 100%;
}
.card_header{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_titre{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card_info {
    font-size: 0.8rem;
    margin-top:0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card_prix{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0.5rem; 
    padding-right: 0.5rem;
    padding-top: 2rem;
    font-weight: bold; 
}
.card_valid{
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 2.5rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    cursor: pointer;
}
.card_check{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    transition-duration: .5s;
}
.fa-check{
    color: #99e2d0;
    transition: transform 1s;
}
.card:hover .fa-check {
    transform: rotate(360deg);
}
.card:hover .card_valid{
    margin: 0;   
}


/**bouton commande**/
.bouton_titre{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 1.1rem 1.2rem;
    margin:3rem;
    font-size: large;
    border-radius: 100px;
    color: #fff;
    background-image: linear-gradient(#ff79da, #9356dc);
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0 0 1rem #505050;
}
.bouton_titre:hover{
    background-color: #fff;
    box-shadow: 0 0 1rem 0 #2e2b2b;
    background-image: linear-gradient(#ff93e1, #a16be0);
}
/**footer**/

footer{
    background-color: #353535;
    color:white;
}
footer .container{
    display: flex;
    flex-direction: column;
}
.footer_logo{
    font-family: 'Shrikhand', "cursive";
    margin-right: 13rem;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.3rem;
}
.footer_list{
    list-style-type: none;
    padding: 1.5rem;
    margin: 0;
}
.footer_icon{
    width: 1.2rem;
    margin-right: 0.5rem;
}
.footer_listbis{
    display: inline-block;
    margin-bottom: 0.5rem;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
}
/**keyframe**/

@keyframes opacity{
    0%{
        opacity: 0;
        -webkit-opacity:0;
    }
    100%{
        opacity: 1;
        -webkit-opacity:1;
    }
}
@keyframes apparition{
    0%{

        transform: scaleY(0);
        -webkit-transform: scaleY(0);
    }
    100%{
        
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}
/**responsive**/

@media (min-width: 767.9888px) {   /*format 768px et +*/
    
    .sousmenu_titre{
        margin-left:1rem;
        padding-left:0;
    }
    .sousmenu_titre::after{
        margin-left: 0;
    }
    /**card**/
    .card{
        width: 350px;

    }
    .card_titre{
        
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .card_info{
        
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .menu_container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }    
    .sousmenu:hover{
        overflow: hidden;
        
    }
    
    .sousmenu{
        display: flex;
        flex-direction: column;
        
    }
    .bouton_titre{
        margin-right: 30rem;
        margin-left: 30rem;
        padding:1rem 5rem;
    }
    /**footer**/
    .footer_logo{
        align-items: center;
        margin-right: 0;
    }
    
    .footer_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media ( max-width: 768px) {  /*format tablette*/
    .bouton_titre{
        margin-right: 30rem;
        margin-left: 20rem;
        padding: 1rem 5rem;
    }
}