
body{
    font-family:'Roboto', 'sans-serif';
    margin: 10px;
}
a{
    color: black;
    text-decoration: none;
}
:root{
    --couleur-primaire:#9356DC;
    --couleur-secondaire: #FF79DA;
    --couleur-tertiaire: #99E2D0;
}
/**loader**/

.loader{
    background-color: rgba(255,255,255,0.14);
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    z-index:10;
    top: 42%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    animation: loader 3s forwards;
}
.loadercircle{
    border-radius: 50px;
    border: 5px solid transparent;
    border-top-color:var(--couleur-primaire);
    border-bottom-color:var(--couleur-primaire);
    animation: spin 1s linear infinite;
    -webkit-animation:spin 1s linear infinite;
}
.loadercircle:after{
    content: '';
    position: absolute;
    top:5px;
    left:5px;
    bottom:5px;
    right:5px;
    border-radius:50px;
    border: 4px solid transparent;
    border-top-color:var(--couleur-secondaire);
    border-bottom-color:var(--couleur-secondaire);
    opacity: 0.6;
    animation: spinreverse 4s linear infinite;
    -webkit-animation:spinreverse 4s linear infinite;
}
.loadercircle:before{
    content: '';
    position: absolute;
    top:13px;
    left:13px;
    bottom:13px;
    right:13px;
    border-radius:50px;
    border: 3px solid transparent;
    border-top-color:var(--couleur-tertiaire);
    border-bottom-color:var(--couleur-tertiaire);
    opacity: 0.6;
    animation: spinreverse 7s linear infinite;
    -webkit-animation:spinreverse 7s linear infinite;
}
/**header**/
header{
    padding:0.5rem;
    box-shadow: 0 0 0.5rem #a7a7a7;
    position: relative;
    z-index: 1000;
}
.logo{
    font-family: 'Shrikhand', "cursive";
    margin: 0;
    text-align: center;
}
#gps{
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    position: relative;
}
.icon_gps{
    margin-right: 1rem;
}
.search_text{
    font-weight: bold;
}
.titre{
    height: 10rem;
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;
}
.sous_titre{
    margin-bottom: 2rem;
}
.bouton_titre{
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    border-radius: 100px;
    color: #fff;
    background-image: linear-gradient(#ff79da, #9356dc);
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0 0 1rem #505050;
}
.bouton_titre:hover{
    background-color: #fff;
    box-shadow: 0 1px #fffdfd;
    background-image: linear-gradient(#fc8cdc, #b781fd);
}

/**fontionnement**/
#fontion{
    padding: 2rem 1rem;
}
.container{
    max-width: 1280px;
    margin: auto;
    position: relative;
}
.fonction_titre{
    margin-top: 0;
}
.fonction_choix{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0;  
}
ol{
    counter-reset: Liste;
}
.list{
    padding: 1.5rem;
    margin: 1rem 0;
    box-shadow: 0 0 0.5rem #a7a7a7;
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    list-style-type: none;
    counter-increment: Liste;
    cursor: pointer;
}
.list:before{
    content: counter(Liste);
    padding: 5px 9px 6px;
    margin:0px 10px 0 -40px;
	vertical-align: top;
	background: var(--couleur-primaire);
	-moz-border-radius: 60px;
	border-radius: 100%;
	font-weight: bold;
	font-size: 0.8rem;
	color: #fff;	
    position: absolute;	
}
.fonction_icon{
    color:#7e7e7e;
}
.list:hover,
.fonction_icon:hover{
    color:var(--couleur-primaire);
    background-color: #f5edff;
}
.fonction_text{
    padding: 0.5rem;
    font-weight: bold;
}
/**restaurants**/
.restaurants{
    background-color: #f6f6f6;
    padding: 2rem 1rem;
}
.cards{
    display: flex;
    flex-direction: column;
}
.card{
    display: block;
    background: #fff;
    border-radius: 1rem;
    position: relative;
    box-sizing: content-box;
    box-shadow: 0 5px 16px #0000002e;
    margin-bottom: 1rem;
}
.card_img{
    width: 100%;
    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}
.card_new{
    background-color: #99e2d0;
    color: #008766;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.20rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
}
.card_text_coeur{
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_titre{
    margin: 0 0 0.25rem;
}
.card_soustitre{
    margin: 0;
}
.card_coeur{
    height: 2rem;
    width: 2rem;
    border:0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color:#000;
}
.card_heart{
    background-color: #fff!important;
}
.menu_heart{
    transition-duration: .25s;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
}
.card_coeur:before, .menu_heart{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}
.far:hover{
    opacity: 0;
    transition-duration: .25s;
    z-index: 1;
}
.card_coeur:hover {
    background: linear-gradient(#9356dc,#ff79da);
    
}
.card_heart:active{
    background: linear-gradient(#9356dc,#ff79da);
}


/**footer**/

footer{
    background-color: #353535;
    color:white;
}
footer .container{
    display: flex;
    flex-direction: column;
}
.footer_logo{
    font-family: 'Shrikhand', "cursive";
    margin-right: 9rem;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.3rem;
}
.footer_list{
    list-style-type: none;
    padding: 1.5rem;
    margin: 0;
}
.footer_icon{
    width: 1.2rem;
    margin-right: 0.5rem;
}
.footer_listbis{
    margin-bottom: 0.5rem;
    cursor: pointer;
}


/**keyframes***loader**/
@keyframes loader{
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinreverse{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

/**responsive**/

@media (min-width: 767.9888px) {  /*format 768px et +*/
    
    .fonction_choix{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    .list{
        width:25%;
    }
    h2{
        margin-left: 2rem;
    }
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        width: 45%;
        height: 274px;
    }
    .card_img{
        height: 12rem;
    }
    .footer_list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}